#sec2{
    line-height:30px;
    font-size:18px;
    height:600px;

    
}
.sec2_content{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
@media (max-width:920px) {
    #sec2{
        line-height:30px;
        font-size:18px;
        
    }
    .sec2_content{
        height:auto;
        width:370px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
@media (max-width:400px) {
    #sec2{
        line-height:30px;
        font-size:18px;
        
    }
    .sec2_content{
        height:auto;
        width:370px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    }
}
