.goog-te-menu-value {
    font-size: 14px;
}

.goog-te-menu2 {
    border: 1px solid #ccc;
    box-shadow: none;
    background-color: #fff;
}

.goog-te-menu2-item {
    padding: 5px 10px;
    font-size: 14px;
    color: #000;
    cursor: pointer;
}

.goog-te-menu2-arrow {
    display: none;
}