.contact-form {
    background-color: white;
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height:400px;
    align-items: space-around;
    border:1px solid red;
    padding:10px;
    position: absolute;
}

.name_form, .email_form, .message_form{
    width:80%;
    height:100%;
    display: flex;
    flex-direction: column;
}

.btn_form{
    width:20%;
    background-color:  #ffb703;
    color:white;
    box-shadow: none;
    border:none;
    padding:10px;

}

.input{
    margin-top:10px;
    height:35px;
}
.inputmsg{
    margin-top:10px;
    height:80px;
}
