.home{
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.pagesetup{
    position:relative;
    display:grid;
    grid-template-columns: 70% 30%;
}
@media (max-width:920px) {
    .home{
        width:920px;
        

    }
    .pagesetup{
        display: flex;
        flex-direction: column;
    }

}

